.drag-drop-zone {
  position: absolute;
  width: 3.3%;
  height: 5.3%;
  text-align: center;
  border-radius: 3px;
}

.border{
  border-left: 6px solid blue;
  /* width: 100px;
  height: 70px; */
  /* background: lightgray; */
}

.zone2 {
  /* background: green;  */
  border: 2px solid black
}