  .m-width1 {
    max-width: 44% !important
  }
  .m-width2 {
    max-width: 44% !important;
  }
  .m-width3 {
    max-width: 50% !important
  }
  .m-width4 {
    max-width: 60% !important
  }
  .m-width6 {
    min-width: 70% !important;
    max-width: 70% !important  }
  .m-width7 {
    min-width: 70% !important;
    max-width: 70% !important  }
  .m-width8 {
    min-width: 75% !important;
    max-width: 75% !important
  }
  .m-width9 {
    min-width: 75% !important;
    max-width: 75% !important
  }
  .m-width10 {
    min-width: 75% !important;
    max-width: 75% !important
  }
  .m-width11 {
    min-width: 75% !important;
    max-width: 75% !important
  }
  .m-width12 {
    min-width: 75% !important;
    max-width: 75% !important
  }
  .m-width13 {
    min-width: 75% !important;
    max-width: 75% !important
  }
  .m-width14 {
    min-width: 75% !important;
    max-width: 75% !important
  }
  .m-width15 {
    min-width: 75% !important;
    max-width: 75% !important
  }
  .m-width16 {
    min-width: 75% !important;
    max-width: 75% !important
  }
  .m-width74 {
    min-width: 74% !important;
    max-width: 74% !important
  }

  .m-width90 {
    min-width: 90% !important;
    max-width: 90% !important
  }
  .m-width100 {
    min-width: 100% !important;
    max-width: 100% !important
  }